/* Navbar.css */
.nav-item {
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(230, 247, 249);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .nav-item:hover .dropdown-menu {
    display: block;
  }

  .nav-item:hover {
    background-color: rgb(230, 247, 249);
    /* border: 1px solid rgb(180, 180, 180); */
  }
  
  .dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 13px;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }